# DSI Project 4: West Nile Virus Prediction

## Background

[**West Nile virus**](https://www.cdc.gov/westnile/) is most commonly spread to humans through infected mosquitos. Around 20% of people who become infected with the virus develop symptoms ranging from a persistent fever, to serious neurological illnesses that can result in death.

In 2002, the first human cases of West Nile virus were reported in Chicago. By 2004 the City of Chicago and the Chicago Department of Public Health (CDPH) had established a comprehensive surveillance and control program that is still in effect today.

Every week from late spring through the fall, mosquitos in traps across the city are tested for the virus. The results of these tests influence when and where the city will spray airborne pesticides to control adult mosquito populations.

source: [kaggle](https://www.kaggle.com/c/predict-west-nile-virus/overview)

## Problem Statement

Due to a recent outbreak of the West Nile Virus in the city of Chicago, our Data Science team at the Disease and Treatment Agency has been tasked by the Centers for Disease Control (CDC) to develop a strategy to deploy the effective use of pesticides, by targeting spraying of pesticides to areas of high risk will help to mitigate future outbreaks.

Leveraging on weather, location, mosquito population and spraying data, the team will develop a binary classification model to predict the presence of the West Nile Virus in the city of Chicago. 

The model that achieves the highest ROC AUC score on the validation data set, will be selected as our production model.

## Data Cleaning & EDA

In [1]:
# import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import missingno as msno
from bokeh.plotting import figure, show, output_notebook
from bokeh.tile_providers import get_provider, Vendors, CARTODBPOSITRON
import math
from ast import literal_eval



pd.set_option('max_columns', None)
pd.set_option('max_rows', None)

%matplotlib inline
plt.style.use('seaborn-notebook')

In [2]:
# load datasets 
train = pd.read_csv('./data/train.csv', parse_dates=['Date'])
test = pd.read_csv('./data/test.csv', parse_dates=['Date'])
spray = pd.read_csv('./data/spray.csv', parse_dates=['Date'])
weather = pd.read_csv('./data/weather.csv', parse_dates=['Date'])

In [3]:
# define a function for intial exploration of dataset

def data_exploration(df_name, df):
    """
    function to perform initial data exploration to check for 
    dataframe shape, datatype, null values and duplicates
    
    """
    print(f"DATASET: {df_name}")
    print("-------------------------------------")
    print("First 3 rows of dataset:")
    display(df.head(3))
    print("\n")
    # check shape of dataframe
    print(f"Shape of dataset: {df.shape}")
    print("\n")
    # check datatypes
    print("Columns & data types: ")
    df.info()
    print("\n")
    # check for null values
    print("Null values: ")
    if df.isnull().sum().sum() == 0:
        print("No null value")
    else:
        for col in df:
            print(f"{col}: {df[col].isnull().sum()}")
    print("\n")
    # check for duplicates
    if df.duplicated(subset=None, keep='first').any() == False:
        print("No duplicated row")
    else:
        duplicates = df[df.duplicated(subset=None, keep='first')]
        print(f"{len(duplicates)} duplicated rows in dataset.")

### Main Dataset - Train data set

In [ ]:
data_exploration('Main dataset - Train', train)

**Observation on Train dataset:**

* No null values
* Correct data types
* 813 duplicated rows

Let's take a closer look at the duplicated rows.

In [ ]:
train[train.duplicated(subset=None)].sort_values(['Address', 'Date']).head()

Duplicates seem to arise from cases where trap in the same location have multiple records on the same day. However, we need to be careful in dropping the duplicates because the data are organized in such a way that when the number of mosquitos exceed 50, they are split into another record (another row in the dataset), such that the number of mosquitos are capped at 50. 

One way to handle this is to sum the number of mosquitoes for records where the Date, Species, Trap, Latitude and Longitude are the same.

To do that, we will first drop the Address columns (since we will base on Latitude and Longitude instead).

In [4]:
train.describe()

# Chicago: 41.8781° N, 87.6298° W  -- Latitude & Longtitude seems to be in range
# Address Accuracy have some low values (3)

,Block,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
count,10506.000000,10506.000000,10506.000000,10506.000000,10506.000000,10506.000000
mean,35.687797,41.841139,-87.699908,7.819532,12.853512,0.052446
std,24.339468,0.112742,0.096514,1.452921,16.133816,0.222936
min,10.000000,41.644612,-87.930995,3.000000,1.000000,0.000000
25%,12.000000,41.732984,-87.760070,8.000000,2.000000,0.000000
50%,33.000000,41.846283,-87.694991,8.000000,5.000000,0.000000
75%,52.000000,41.954690,-87.627796,9.000000,17.000000,0.000000
max,98.000000,42.017430,-87.531635,9.000000,50.000000,1.000000

In [5]:
train[(train.AddressAccuracy < 8)]['AddressAccuracy'].count()

1898

In [6]:
# drop most of the address columns and mainly use longtitude / latitude.  Keep AddressAccuracy for reference
train.drop(['Address', 'Block', 'Street', 'AddressNumberAndStreet'], 
           axis=1, inplace=True)

In [7]:
train['NumMosquitos'].sum()

135039

In [8]:
train['WnvPresent'].value_counts()

0    9955
1     551
Name: WnvPresent, dtype: int64

Then, we will group the records by Date, Species, Trap, Latitude and Longitude

In [14]:
train_merged = train.groupby(['Date', 'Species', 'Trap', 'Latitude', 'Longitude','AddressAccuracy']).sum().reset_index()
train_merged['WnvPresent'] = (train_merged['WnvPresent'] > 0).astype(int)

In [15]:
train_merged.shape

(8475, 8)

In [16]:
train_merged['NumMosquitos'].sum()

135039

In [17]:
train_merged['WnvPresent'].value_counts()

0    8018
1     457
Name: WnvPresent, dtype: int64

#### Baseline is the majority class [0] at 94.6%

In [18]:
# of WNV Present  we have only 5% of the positive class ==> imbalance data!

train_merged['WnvPresent'].value_counts(normalize=True)

0    0.946077
1    0.053923
Name: WnvPresent, dtype: float64

In [19]:
train_merged.describe().T

,count,mean,std,min,25%,50%,75%,max
Latitude,8475.0,41.844618,0.106609,41.644612,41.750498,41.857402,41.944869,42.017430
Longitude,8475.0,-87.694788,0.084063,-87.930995,-87.752329,-87.694991,-87.642984,-87.531635
AddressAccuracy,8475.0,7.941239,1.321681,3.000000,8.000000,8.000000,9.000000,9.000000
NumMosquitos,8475.0,15.933805,75.084707,1.000000,2.000000,4.000000,11.000000,2532.000000
WnvPresent,8475.0,0.053923,0.225880,0.000000,0.000000,0.000000,0.000000,1.000000

In [20]:
# NumMostquitos -- max seems strange 2532, shouldn't max be a little over 50 after merging???

The Latitude and Longitude range in the train dataset seems to be within range.

In [ ]:
# add month & year columns
train_merged['month'] = pd.DatetimeIndex(train_merged['Date']).month
train_merged['year'] = pd.DatetimeIndex(train_merged['Date']).year
train_merged.head()

In [ ]:
# set date as index

train_merged.set_index('Date', inplace=True)
train_merged.sort_index(inplace=True)

In [ ]:
# check if the shape is correct
train_merged.shape

In [ ]:
train_merged.resample('Y')['NumMosquitos','WnvPresent'].sum()

In [ ]:
def plot_scatter_month(x, y, data, hue=None, xlabel=None, ylabel=None, title=None, figsize=(8,4)):
    fig, ax = plt.subplots(figsize=figsize)
    ax = sns.scatterplot(y=y, x=x, hue=hue, data=data)
    ax.set_xlabel(xlabel, size = 16,alpha=0.8)
    ax.set_ylabel(ylabel, size = 16,alpha=0.8)
    ax.set_title(title, size=20);

In [ ]:
plot_scatter_month('month', 'NumMosquitos',train_merged, # hue='year',  # hue not working for some reason
                   xlabel= 'month', ylabel ='number of mosquitos', 
                   title= "Number of Mosquitos by Month")

In [ ]:
plot_scatter_month('year', 'WnvPresent',train_merged, # hue='year',  # hue not working for some reason
                   xlabel= 'year', ylabel ='West Nile Virus detected', 
                   title= "Presence of West Nile Virus by Month", figsize=(8, 4))

In [ ]:
def merc(latitude, longtitude):
    r_major = 6378137.000
    x = r_major * math.radians(longtitude)
    scale = x/longtitude
    y = 180.0/math.pi * math.log(math.tan(math.pi/4.0 + 
        latitude * (math.pi/180.0)/2.0)) * scale
    return (x, y)

In [ ]:
train_merged.head()

In [ ]:
# convert latitude & longtitude into coordinates for plotting

# for latitude in train_merged['Latitude']:
#    for longtitude in train_merged['Longitude']:
#        train_merged['coords_x'] = merc(latitude, longtitude)[0]
#        train_merged['coords_y'] = merc(latitude, longtitude)[1]


# skip -- takes forever to run!!

In [ ]:
train_merged.tail()

In [ ]:

tile_provider = get_provider('CARTODBPOSITRON')

p = figure(x_range=(-9780000, -9745000), y_range=(5130000, 5160000),
           x_axis_type="mercator", y_axis_type="mercator")
p.add_tile(tile_provider)
#p.circle(x=train_merged['coords_x'],
#         y=train_merged['coords_y'], 
#         size=train_merged['WnvPresent'],
#         line_color="#FF0000", 
#         fill_color="#FF0000",
#         fill_alpha=0.05)
output_notebook()
show(p)

In [ ]:
train_merged.plot(kind="scatter", x="Longitude", y="Latitude", #c='year',
                  s=train_merged['NumMosquitos'], cmap="Blues",
                  alpha=0.9, figsize=(10,7));

# some of the merged values may not be correct

In [ ]:
train.plot(kind="scatter", x="Longitude", y="Latitude", #c='year',
                  s=train['NumMosquitos'], cmap="Blues",
                  alpha=0.9, figsize=(10,7));

# some of the merged values may not be correct

In [ ]:
# plot where WnvPresent

train[(train.WnvPresent==1)].plot(kind="scatter", x="Longitude", y="Latitude", c='red')

### Main Dataset - Test data set

In [ ]:
data_exploration('Main dataset - Test', test)

**Observation on Test dataset:**

* No null value and duplicated row
* Correct data types
* As compared to Train dataset, there is no 'NumMosquitos' and 'WnvPresent' (which is the target variable). There is also an 'Id' column which is needed for Kaggle submission.

Similar to the train data, we will drop the Address columns.

In [ ]:
test.drop(['Address', 'Block', 'Street', 'AddressNumberAndStreet'], 
           axis=1, inplace=True)

In [ ]:
test.shape

In [ ]:
test.describe().T

The Latitude and Longitude range in the test dataset seems to be within range.

In [ ]:
test.set_index('Date', inplace=True)
test.sort_index(inplace=True)
test.shape

### Spray Dataset

In [ ]:
data_exploration('Spray dataset', spray)

**Observation on Spray dataset:**

* No missing values in 'Date', 'Latitude', 'Longitude'
* 584 missing values for 'Time' 
* 541 duplicated rows

Let's use the Missingno matrix to visualise where are the missing values in the 'Time' column.

In [ ]:
plt.figure(figsize=(15, 8));
msno.matrix(spray);
plt.title('Missing values in Spray dataset', fontsize=25, y=1.2);

In [ ]:
spray[spray['Time'].isnull()]['Date'].value_counts()

All missing values for 'Time' belong to records on the date 2011-09-07. The Time feature may or may not be used for modelling. Let's keep in view to see if we need to impute the missing values.

Let's also take a look at the duplicated rows.

In [ ]:
spray[spray.duplicated(subset=None)].sort_values('Date').head()

In [ ]:
spray[spray.duplicated(subset=None)]['Date'].value_counts()

All duplicated rows are also records on the date 2011-09-07.

Let's go ahead and drop the duplicated rows.

In [ ]:
spray.drop_duplicates(subset=None, keep='first', inplace=True)

In [ ]:
spray.shape

In [ ]:
spray.describe().T

In [ ]:
spray.set_index('Date', inplace=True)
spray.sort_index(inplace=True)

In [ ]:
spray.shape

Latitude and Longitude seem to be within range.

In [ ]:
# fig, ax = plt.subplots(nrows=1, ncols=1, figsize=(10,7), sharex=True, sharey=True)
# ax.plot(data=train_merged['2011'], kind="scatter", x=["Longitude"], y=["Latitude"], 
#         s=train_merged['2011']['NumMosquitos'], c='royalblue', alpha=0.9)
# ax.plot(data=spray['2011'], kind="scatter", x=["Longitude"], y=["Latitude"], c="firebrick",
#                  alpha=0.9, figsize=(10,7));

# some of the merged values may not be correct

In [ ]:

train_merged['2011'].plot(kind="scatter", x="Longitude", y="Latitude", 
                  s=train_merged['2011']['NumMosquitos'], c='royalblue',
                  alpha=0.9, figsize=(10,7));
plt.gca()
spray['2011'].plot(kind="scatter", x="Longitude", y="Latitude", c="firebrick",
                  alpha=0.9, figsize=(10,7));

# some of the merged values may not be correct

### Weather dataset

In [ ]:
data_exploration('Weather dataset', weather)

**Observations on Weather dataset:**

* While there is seemingly no null value, the data dictionary stated that missing values are marked with 'M'.

* For the column SnowFall and PrecipTotal, trace values are marked with ' T'.

* For the column CodeSum, a blank refers to 'Moderate' according to the data dictionary

* Several columns have object data type when the values should be numeric, e.g. Tavg, Depart, WelBulb, Heat, Cool, Depth, Water1, SnowFall, PrecipTotal, StnPressure, SeaLevel, AvgSpeed

* Sunrise and Sunset should be time (in HH:MM) but currently are in object data types.

* No duplicated row

In [ ]:
weather['SnowFall'].unique()

In [ ]:
weather['PrecipTotal'].unique()

For Trace value ' T', we can consider imputing with a small value below 0.01, e.g. 0.005.

In [ ]:
for col in weather.columns:
    weather[col].replace('M', np.nan, inplace=True)      # for columns using 'M' for missing values
    weather[col].replace('  T', 0.005, inplace=True)     # for SnowFall and PrecipTotal columns 
    weather[col].replace('-', np.nan, inplace=True)      # for Sunrise and Sunset columns
    weather[col].replace(' ', 'Moderate',inplace=True)   # for CodeSum column

In [ ]:
weather.head()

Now that the values are corrected, let's check for missing values again.

In [ ]:
weather.isnull().agg(['sum', 'mean']).T.sort_values('sum', ascending=False)

**Further observations:**

* Water1 have missing values in all records.
* Sunrise, Sunset, Depth, Depart, SnowFall have missing values in half of the records (which we will take a look from which station)
* Handful of missing values in Tavg, Heat, Cool, SeaLevel, StnPressure, WetBulb, AvgSpeed and PrecipTotal

Let's check for missing values by Station.

In [ ]:
msno.matrix(weather[weather['Station'] == 1]);
plt.title('Missing values in Weather dataset for Station 1', fontsize=24, y=1.15);

In [ ]:
msno.matrix(weather[weather['Station'] == 2]);
plt.title('Missing values in Weather dataset for Station 2', fontsize=24, y=1.15);

**Observation:**

* Missing values in Depart, Sunrise, Sunset, Depth and SnowFall are contributed by Station 2 (1472 records).

* Water1 values are missing for both Stations.

#### Missing values in Water1

All are missing values, so we can drop this.

In [ ]:
weather.drop(columns = 'Water1', inplace=True)

In [ ]:
weather.shape

#### Missing values in Tavg

Let's impute the missing values for Tavg by taking average of the day's maximum temperature (Tmax) and minimum temperature (Tmin).

In [ ]:
weather['Tavg'].fillna(((weather['Tmax'] + weather['Tmin'])/2),inplace=True)

In [ ]:
# convert to integer data type to align to Tmax and Tmin
weather['Tavg'] = weather['Tavg'].astype('int64')

#### Missing values in WetBulb

In [ ]:
weather.WetBulb = weather.WetBulb.astype(float)

In [ ]:
# we may need to convert to humidity if it works better with mosquito breeding patterns

WetBulb and DewPoint are measurements of humidity:

**Dry Bulb** Temperature refers basically to the ambient air temperature. 

**Wet Bulb** Temperature is the adiabatic saturation temperature, and can be measured by using a thermometer with the bulb wrapped in wet muslin. The temperature difference between the dry bulb and wet bulb, depends on the humidity of the air. The Wet Bulb temperature is always between the Dry Bulb temperature and the Dew Point. 

**Dew Point** is the temperature where water vapor starts to condense out of the air (the temperature at which air becomes completely saturated). if the dew-point temperature is close to the dry air temperature -  the relative humidity is high if the dew point is well below the dry air temperature - the relative humidity is low

https://www.engineeringtoolbox.com/dry-wet-bulb-dew-point-air-d_682.html

In [ ]:
weather[weather['WetBulb'].isnull()]

Let's use data from the other station to fill missing values in WetBulb (which is in consecutive rows). For example, the data for '2009-06-26 are in record 848 (for Station 1) and 849 (for Station 2).

<span style='color:darkviolet'> Let's fill the WetBulb as mid point between Tavg and DewPoint = (Tavg + DewPoint) / 2</span>

In [ ]:
wetbulb_na = weather[weather['WetBulb'].isnull()].index

for i in wetbulb_na:
    weather.loc[i,'WetBulb'] = (weather.loc[i,'Tavg'] + weather.loc[i,'DewPoint']) /2
    
weather[weather['WetBulb'].isnull()]

In [ ]:
weather.isnull().sum().sort_values(ascending=False)

#### Missing Values in Heat and Cool columns

In [ ]:
weather[weather['Heat'].isnull()]

In [ ]:
# fill station 2 missing values with station 1 data
weather['Heat'].fillna(method='ffill', inplace=True)
weather['Cool'].fillna(method='ffill', inplace=True)

#### Missing Values in SeaLevel

<span style='color:darkviolet'> Sea Level is usually the same for the 2 stations on a particular day.  Let's fill the missing SeaLevel values for station 2 using station 1, and vice versa.</span>

In [ ]:
# SeaLevel is usually the same for station 1&2 on a particular day.  

weather[['Station','Date','SeaLevel']].head(10)

In [ ]:
weather[weather['SeaLevel'].isnull()]

In [ ]:
def fill_cross_stations(df, column):
    na = df[df[column].isnull()].index
    for i in na:
        if df.loc[i,'Station'] == 1: 
            weather.loc[i, column] = weather.loc[i+1,column]
        elif df.loc[i,'Station'] == 2:
            weather.loc[i, column] = weather.loc[i-1,column]

In [ ]:
# fill na for station 1 with station 2, and vice versa

fill_cross_stations(weather, 'SeaLevel')

In [ ]:
# check if filled correctly for na in station 1 (index 832)
weather.loc[832:833,['Station','Date','SeaLevel']]

In [ ]:
# check if filled correctly for na in station 2 (index 87)
weather.loc[86:87,['Station','Date','SeaLevel']]

#### Missing Values in StnPressure, AvgSpeed, PrecipTotal

<span style='color:darkviolet'> Similar to Sea Level, the StnPressure is usually similar for the 2 stations on a particular day.  Let's fill the missing values for station 2 using station 1, and vice versa.</span>

In [ ]:
# StnPressure seems to be closer for station 1 & 2 on a particular day vs. same station previous day
# find mean diff between station 1 & station 2 is 0.00014986376021798166 so we can impute with Sta

In [ ]:
weather[['Station','Date','StnPressure','AvgSpeed','PrecipTotal']].head(10)

In [ ]:
weather.StnPressure = weather.StnPressure.astype(float)
weather.AvgSpeed = weather.AvgSpeed.astype(float)
weather.PrecipTotal = weather.PrecipTotal.astype(float)

In [ ]:
weather['StnPressure_diff'] = weather['StnPressure'] - weather['StnPressure'].shift()
weather['StnPressure_diff'].mean()

In [ ]:
weather.drop(columns = 'StnPressure_diff',inplace=True)

In [ ]:
# fill na for station 1 with station 2, and vice versa

fill_cross_stations(weather, 'StnPressure')

# where both station 1 & 2 are null, fill with previous day data

stnpressure_na = weather[weather['StnPressure'].isnull()].index
for i in stnpressure_na:
    weather.loc[i,'StnPressure'] = weather.loc[i-2,'StnPressure']

In [ ]:
# fill na for station 1 with station 2, and vice versa

fill_cross_stations(weather, 'AvgSpeed')
fill_cross_stations(weather, 'PrecipTotal')

In [ ]:
# checking the remaining null values after cleaning
weather.isnull().agg(['sum', 'mean']).T.sort_values('sum', ascending=False)

In [ ]:
weather[['Station','Date','Sunrise','Sunset','Depart','SnowFall','Depth']].head(10)

In [ ]:
# do we just fill station 2 same as station 1???

# weather['Sunrise'].fillna(method='ffill', inplace=True)
# weather['Sunset'].fillna(method='ffill', inplace=True)
# weather['Depart'].fillna(method='ffill', inplace=True)
# weather['SnowFall'].fillna(method='ffill', inplace=True)
# weather['Depth'].fillna(method='ffill', inplace=True)

weather.head()

In [ ]:
# checking the remaining null values after cleaning
weather.isnull().agg(['sum', 'mean']).T.sort_values('sum', ascending=False)

In [ ]:
msno.matrix(weather[weather['Station'] == 1]);
plt.title('Missing values in Weather dataset for Station 1', fontsize=24, y=1.15);

In [ ]:
msno.matrix(weather[weather['Station'] == 2]);
plt.title('Missing values in Weather dataset for Station 1', fontsize=24, y=1.15);

In [ ]:
weather.set_index('Date', inplace=True)
weather.sort_index(inplace=True)
weather.shape

### Distrbution of Data by Date across Datasets

Let's look at the distribution of data points by date for the 4 datasets.

In [ ]:
# plot histogram subplots to compare the date range across the 4 data sets
fig, ax = plt.subplots(nrows=4, figsize=(15,14), sharex=True)

df_list = [train_merged, test, spray, weather] # List of our dataframes
title_list = ['Train', 'Test', 'Spray', 'Weather']

for i, df in enumerate(df_list):
    ax[i].hist(df.index, bins=100, color='cornflowerblue')
    ax[i].set_title('Distribution of data points by Date in ' + str(title_list[i]), size=15, y=1.01)
    ax[i].set_ylabel('Frequency')
    ax[i].set_xlabel('Year')

plt.tight_layout()

**Observations:**

* For the main dataset, we have data from 2007, 2009, 2011 and 2013 in the train dataset, and data from 2008, 2010, 2012 and 2014 in the test dataset.

* For the spray data, the dataset only contains information about spray effort in 2011 and 2013.

* As for weather data, we have data from 2007 to 2014.